html, body {
    font-family: 'Rajdhani', 'sans-serif';
    height: 100%;
    width: 100%;
}

navbar {
    padding: .8rem;
}

.nav-link {
    font-size: 1.1em !important;
}

.carousel-inner img  {
    width: 100%;
    height: 100%;
}

.jumbotron {
    padding: 1rem;
    border-radius: 0;
}

#carouselButton {
    position: absolute;
    right:0;
    bottom:0;
    z-index: 100;
}


.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.welcome hr {
    border-top: 2px solid;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

.fa-facebook, .fa-twitter, .soundcloud, .tiktok, .youtube {
    font-size: 4em;
    margin: 1rem;
}

@media (max-width: 768px) {

}
@media (max-width: 576px){

}